<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<style>
span{
    padding: 0 20px;
}
</style>
<body>

    <div id="app">

        <div v-for="item in 9">
            <span v-for="j in item">
                {{item}} * {{j}} = {{item * j}}
            </span>
        </div>

    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {

            }
        })
    </script>


</body>

</html>